.navbar{
    background-color: white;
    padding: 10px 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar1{
    font-size: 1.5rem;
    text-decoration: none;
    color: #116466;
    font-weight: bold;
}
.navmain{
    display: flex;
    list-style: none;
}
.navlink{
    padding: 10px;
    text-decoration: none;
    color:  #116466;
}